*{
    box-sizing: border-box;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

/* for mobile */

[class*="col-"] {
    width:100%;
}

/* for tablet */
@media only screen and (min-width:600px){
.col-t-1 {width: 8.33%;}
.col-t-2 {width: 16.66%;}
.col-t-3 {width: 25%;}
.col-t-4 {width: 33.33%;}
.col-t-5 {width: 41.66%;}
.col-t-6 {width: 50%;}
.col-t-7 {width: 58.33%;}
.col-t-8 {width: 66.66%;}
.col-t-9 {width: 75%;}
.col-t-10 {width: 83.33%;}
.col-t-11 {width: 91.66%;}
.col-t-12 {width: 100%;}
}

/* for desktop */
@media only screen and (min-width:768px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    }

    @media screen and (max-width: 600px) {
        .nav2 a{
            width: 100%;
        }
    }

.navbar{
    padding: 20px;
}

.nav1 a{
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: x-large;
}

.nav2{
    align-items: baseline;
    padding-left: 20px;

}

.nav2 a{
    text-decoration: none;
    color: black;
    padding-left: 20px;
    font-size: large;
    display: flex;
    text-align: center;
}

.nav2 a:hover{
    transform: scale(1.1,1.1);
    color: lightseagreen;
}


.nav3 {
    justify-items: right;
    align-items: baseline;
}

.nav3 a{
    color: black;
    padding-right:20px ;
}

.nav3 a:hover{
    transform: scale(1.1,1.1);
    color: lightseagreen;
}

.bimg{
    justify-content: space-evenly;
    padding-top: 70px;
}

.bimg1{
    background-image:linear-gradient(to right,rgba(41, 40, 40, 0.5),rgba(35, 36, 35, 0.5)),url(images/bimg1.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
    height: 350px;
    justify-items: center;
    opacity:1.5;
}
.bimg2{
    background-image:linear-gradient(to right,rgba(41, 40, 40, 0.5),rgba(35, 36, 35, 0.5)), url(images/bimg2.webp);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
    height: 350px;
    justify-items: center;
    opacity:1.5;
}


.bimg3{
    background-image:linear-gradient(to right,rgba(41, 40, 40, 0.5),rgba(35, 36, 35, 0.5)), url(images/bimg3.webp);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
    height: 350px;
    justify-items: center;
    opacity:1.5;
}

.bimg4{
    background-image:linear-gradient(to right,rgba(41, 40, 40, 0.5),rgba(35, 36, 35, 0.5)), url(images/bimg4.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
    height: 350px;
    justify-items: center;
    opacity:1.5;
}
.bimg5{
    background-image: linear-gradient(to right,rgba(41, 40, 40, 0.5),rgba(35, 36, 35, 0.5)),url(images/bimg5.webp);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
    height: 350px;
    justify-items: center;
    opacity:1.5;
}

.b1{
    text-decoration: underline red;
    text-align: center;
    color: white;
    font-size: x-large;
    font-weight: 800;  
   padding-top: 300px;  
}
.b2{
    text-decoration: underline red;
    text-align: center;
    color: white;
    font-size: x-large;
    font-weight: 800;
    padding-top: 300px;
}

.b3{
    text-decoration: underline red;
    text-align: center;
    color: white;
    font-size: x-large;
    font-weight: 800;
    padding-top: 300px;
}

.b4{
    text-decoration: underline red;
    text-align: center;
    color: white;
    font-size: x-large;
    font-weight: 800;
    padding-top: 300px;
}

.b5{
    text-decoration: underline red;
    text-align: center;
    color: white;
    font-size: x-large;
    font-weight: 800;
    padding-top: 300px;
}

.bimg1:hover{
    transform: scale(1.1,1.1);
}
.bimg2:hover{
    transform: scale(1.1,1.1);
}
.bimg3:hover{
    transform: scale(1.1,1.1);
}
.bimg4:hover{
    transform: scale(1.1,1.1);
}
.bimg5:hover{
    transform: scale(1.1,1.1);
}

.menu1{
    font-family: monospace;
    padding-top: 100px;
    padding-left: 60px;
    justify-content: baseline;
}
.menu1 p1{
    font-size: 50px;
}

.menu1 p{
    font-size: 20px;
}

.menu1 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: monospace;
}

.menu2{
   padding-top: 100px;
   border-bottom: 1px solid black;
   padding-right:60px;
}

.shose1 a{
    font-family: monospace;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.shose1{
    padding-left: 20px;
}

.shose1 img{
    border-radius: 10px;
    
}

.shose1 img:hover{
    transform: scale(1.1,1.1);
}


.shose1 span{
    padding-left:10px ;
    padding-right: 10px;
    opacity: 0.5;
}

.imgs{
    padding-top: 60px;
}

.imgs img{
    padding: 20px;
}

.imgs img:hover{
    transform: scale(1.1,1.1);
}






