.header h2::first-letter{
    font-size: 60px;
    color: black;
    font-weight: 700;
}
.header h2{
    color: #222;
}

.nav a:hover{
    color: orangered;
}
.head{
    align-items: baseline;
}

a{
    font-size: large;
}

.icon a:hover{
    color: blue;
}

.icon a{
    color: black;
}

.box h3{
    text-decoration: underline;
}

.box1{
    padding-top: 150px;
}
